<a href="https://colab.research.google.com/github/jmcquiller/Pandas-Exercise-/blob/main/Copy_of_Jamiah_McQuiller_Pandas_Exercises_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Pandas exercises
Authors:  Natanael Moura Junior (natanael.junior@mjv.com.br) <br>
          Carlos Eduardo Covas Costa (carlos.costa@mjv.com.br) <br>
          Yuri Santa Rosa Nassar dos Santos (yuri.santos@mjv.com.br) 


<img align="center" width="200" src="https://raw.githubusercontent.com/natmourajr/data/main/mjv-tecnologia.png?raw=1">

In this exercise, you will receive some false data about some purchases made by Amazon. Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to consult the previous materials or the internet to clear your doubts. Most tasks can be solved in different ways. Do not worry if the data does not seem to make sense. These are synthetic data for didactic purposes. Finally, note that all these questions can be answered with one line of code.
____
**Import pandas and read the "Ecommerce Purchases" csv file from the link and set it to a DataFrame called `ecom`.**

In [ ]:
import pandas as pd

In [ ]:
ecom = pd.read_csv('https://raw.githubusercontent.com/daveaditya/udemy-ds-ml-bootcamp/master/04-Pandas-Exercises/Ecommerce%20Purchases',sep=',')

**Use the `ecom` dataframe to answer questions 1 until 13.**

**Question 1** - Check the head of the DataFrame.

In [ ]:
#Type your code here
x = pd.DataFrame(ecom)
x.head(5)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

**Question 2** - How many rows and columns are there?

In [ ]:
#Type your code here
rows = len(x)
cols = len(x)
print(x.shape [0])
print(x.shape [1])

10000
14

In [ ]:
#Another way
rows = 10000
columns = 14
print(rows)
print(columns)

10000
14

**Question 3** - What is the average Purchase Price?

In [ ]:
#Type your code here
#avg = x["Purchase Price"].mean()
#print(avg)
x.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

**Question 4** - What were the `highest` and `lowest` purchase prices?

**Comments**: Your logic is good, Jamiah. Applying this to the dataset that we already have we can use something like that:

In [ ]:
ecom['Purchase Price'].max()

99.99

In [ ]:
ecom['Purchase Price'].min()

0.0

In [ ]:
#Type your code here for the highest
df = pd.DataFrame({"Purchase Price": [1000, 50.34, 29.01, 0.0, 25.15, 50.50, 75.77, 99.99]})
column = df["Purchase Price"]
max_value = column.max()
print(max_value)
#df.max()

1000.0

In [ ]:
#Type your code here for the lowest
df.min()

Purchase Price    0.0
dtype: float64

**Question 5** - How many people have English `'en'` as their Language of choice on the website?

**Comment**: This question can be broken into two parts. First, find if someone has the Language equal to `en`. Second, you just need to count the amount of data. For example, you could code it like this:

In [ ]:
ecom[ecom['Language']=='en']['Language'].count()

1098

In [ ]:
#Type your code here
english = ecom["Language"]
print(english)

0       el
1       fr
2       de
3       es
4       es
        ..
9995    it
9996    pt
9997    el
9998    es
9999    el
Name: Language, Length: 10000, dtype: object

**Question 6** - How many people have the job title of "Lawyer" ?

In [ ]:
#Another way 
ecom[ecom['Job'] == 'Lawyer']['Job'].count()

**Question 7** -How many people made the purchase during the AM and how many people made the purchase during PM ?

(**Hint: Check out** [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html))

In [ ]:
ecom['AM or PM'].value_counts()

**Question 8** - What are the 5 most common Job Titles?
<br>(Hint: continue using value_counts())

In [ ]:
#Type your code here
ecom['Job'].value_counts().head(5)

**Question 9** - Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

**Comment**: This question can be broken into two parts. First, find if someone has the Lot equal to 90 WT. Second, just select the purchase price to show up if it is true. For example, you could code it like this:

In [ ]:
#Type your code here
ecom[ecom['Lot']=='90 WT']['Purchase Price']

**Question 10** - What is the email of the person with the following Credit Card Number: 4926535242672853?

In [ ]:
#Type your code here
ecom[ecom["Credit Card"] == 4926535242672853]['Email']

**Question 11** - How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [ ]:
#Type your code here
len(ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)])

**Question 12 (challenge)** How many people have a credit card that expires in 2025?

In [ ]:
#Type your code here
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

**Question 13 (challenge)** What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)?

In [ ]:
#Type your code here
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

**Part 2**<br>
Let's exercise when the dataframe has missing values. We will work with another dataset to train this skill. So, please, execute the code to import the dataset.<br>
We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

In [ ]:
# Importing the dataset as a CSV file
df_sf = pd.read_csv('https://raw.githubusercontent.com/daveaditya/udemy-ds-ml-bootcamp/master/04-Pandas-Exercises/Salaries.csv')

**Use the `df_sf` dataframe to answer questions 14 until 22.**

**Question 14** - Show the number of missing values per attribute on a percent scale. Which stratagy could you apply to clean this dataset and Why do you use it.

In [ ]:
#Type your code here
df_sf.isnull().sum() / len(df_sf) * 100

**Question 15** - Drop the attributes that do not have any value in the dataframe.

In [ ]:
#Type your code here
df_sf.drop(['Notes','Status'], axis=1, inplace=True)

**Question 16** - For the remaining data use the panda's function to fill the missing values.

In [ ]:
#Type your code here
df_sf.fillna(method="backfill", inplace=True)

# 2 ways examples
# You can use the interpolation method
#df_sf.interpolate(method='linear', limit_direction='backward', axis=0, inplace=True)
#df_sf.interpolate(method='polynomial', order=2, inplace=True)

**Question 17** - What is the average BasePay ?

In [ ]:
#type your code here
df_sf['BasePay'].mean()

**Question 18** - What is the highest amount of OvertimePay in the dataset ?

In [ ]:
#Type your code here
df_sf['OvertimePay'].max()

**Question 19**(Challange) - What was the average (mean) of all employees per year? (2011-2014)<br>
**Hint:** [Group by method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

In [ ]:
#Type your code here
df_sf.groupby(by=['Year']).mean()

**Question 20** - Regarding the groupBy of **question 19**, how can you show only the **BasePay** attribute?

In [ ]:
#Type you code here
df_sf.groupby(by=['Year']).mean()['BasePay']

# Another way
#df_sf.groupby(by=['Year'])[['BasePay']].mean()

**Question 21**(Challenge) - How many people have the word Chief in their job title? (This is pretty tricky)
<br>
**Hint:**<br> 1) define a function to check the series of the attribute column;<br>2) Use the apply method with the lambda to call your defined function to get the sum. [apply method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [ ]:
#Type your def func here
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [ ]:
#Type your code here with the sum using the apply
sum(df_sf['JobTitle'].apply(lambda x: chief_string(x)))

**Question 22**(Challenge) - Show the dataframe sorted by the emploee name from A to Z.<br>
**Hint:** [sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

In [ ]:
#Type your code here
df_sf.sort_values(by=['EmployeeName'])

## **GREAT JOB!!!**